@{
    ViewBag.Title = "Inicio";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="icon" type="image/x-icon" href="/Img/logo.ico" />
<head>
    <title></title>
</head>
<body>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Img/Logo GD 1.png" style="width:25%" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                Gestión documental GD, es una iniciativa que busca centralizar la documentación de manera estructura,
                está quiere que proyectos este en un grupo y dentro de ellas tenemos expedientes, los expedientes siempre tendrán
                como punto de control el tipo de proceso que esté lo domine y así poder mostrar una lista de chequeo. Por cada ítem se
                debe agregar un documento solo si esté es obligatorio.
                También se pretende llevar un avance porcentual de los proyectos y expedientes.

            </p>
        </div>
    </div>
</body>
</html>


